/* Nav bar` */
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Portfolio */

/* Contact */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)),
    url("img/photo/landscape.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

#success-message {
  opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  padding: 0 20% 0 20%;
}

.margin-top-25 {
  margin-top: 25px;
}

.form-title {
  padding: 25px;
  font-size: 30px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group .form-control {
  -webkit-box-shadow: none;
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius: 0;
  border-color: #000;
}

.form-group .form-control:focus {
  box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: #000;
}

textarea {
  resize: none;
}

.btn-mod.btn-large {
  height: auto;
  padding: 13px 52px;
  font-size: 15px;
}

.btn-mod.btn-border {
  color: #000000;
  border: 1px solid #000000;
  background: transparent;
}

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: rgba(34, 34, 34, 0.9);
  border: 1px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
  color: #fff;
  border-color: #000;
  background: #000;
  outline: none;
}

@media only screen and (max-width: 500px) {
  .btn-mod.btn-large {
    padding: 6px 16px;
    font-size: 11px;
  }

  .form-title {
    font-size: 20px;
  }
}

.sec-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)),
    url("img/photo/landscape.jpg");
  background-image: url("img/photo/coding1.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body {
  /* padding-bottom: 3rem; */
  color: #5a5a5a;
}

.bg-con {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/folk-pattern-black.png)
    repeat;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/* cv */
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* Utils */

.clear {
  clear: both;
}
.purple {
  color: #837c9a;
}

.block {
  margin: 25px 30px;
}
.block h1 {
  margin-left: -5px;
  font-weight: 200;
}

.last.block {
  margin-bottom: 110px;
}

.horizontal_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal_list li {
  float: left;
}
.horizontal_list li:before {
  content: none;
}
.horizontal_list li {
  padding-left: 0;
  text-indent: 0;
}

.horizontal_line {
  margin: 34px 0 0 30px;
  height: 26px;
  position: relative;
}
.line_left,
.line_right {
  border-top: 1px solid #434247;
  width: 305px;
  margin-top: 13px;
}
.line_left {
  float: left;
}
.line_right {
  float: right;
}
.left_circle,
.central_circle,
.right_circle {
  background: rgb(69, 68, 73);
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  border-radius: 50px;
}
.left_circle,
.right_circle {
  width: 13px;
  height: 13px;
  top: 7px;
}
.left_circle {
  left: 314px;
}
.central_circle {
  width: 26px;
  height: 26px;
  top: 0px;
  left: 322px;
}
.right_circle {
  left: 343px;
}

/* Containers size */

#main_container {
  width: 960px;
  margin: 0 auto;
}
#header {
  height: 130px;
  border-bottom: 1px solid #403f44;
}
.header_logotype_container {
  width: 260px;
  height: 130px;
  border-right: 1px solid #403f44;
  float: left;
}
.header_menu_container {
  height: 130px;
  width: 699px;
  float: left;
}
.header_menu_container a {
  font-family: "Lato", Helvetica, sans-serif;
}
#left_col {
  width: 260px;
  float: left;
}
#content_container {
  width: 699px;
  border-left: 1px solid #403f44;
  float: left;
}
#footer {
  width: 960px;
  height: 60px;
  border-top: 1px solid #403f44;
  display: inline-block;
}

/* HEADER */

.logotype_name {
  text-transform: uppercase;
  font-size: 32px;
  margin: 43px 0 0;
}
.logotype_occupation {
  text-transform: uppercase;
  margin-top: 5px;
  color: #17a2b8;
  font-size: 14px;
  letter-spacing: 2px;
  padding-left: 7px;
}

.download_print_buttons {
  width: 225px;
  height: 45px;
  float: right;
}
.download_print_buttons a {
  text-decoration: none;
  font-size: 12px;
  font-family: "Lato", Helvetica, sans-serif;
  font-style: italic;
  line-height: 45px;
  padding: 16px 17px;
  background: #353638;
}
.download_print_buttons a:hover {
  background: #020609;
}
.download_print_buttons .icon {
  color: #02070a;
  padding-right: 6px;
  font-style: normal;
  font-size: 18px;
}
.icon-angle-double-right {
  position: relative;
  top: 2px;
}
.download_print_buttons a:hover .icon {
  color: #e4e3e8;
}

.header_menu {
  width: 699px;
  margin-top: 40px;
  margin-left: 5px;
}
.header_menu a {
  text-decoration: none;
  padding: 0 20px;
  border-left: 1px solid #e4e3e8;
  font-size: 16px;
  font-weight: 400;
}
.header_menu a.no_border {
  border-left: none;
}
.header_menu a:hover {
  color: #837c9a;
}

/* LEFT NAV */

#left_nav h2 {
  margin: 0;
  font-size: 24px;
}

.profile_frame {
  width: 210px;
  height: 260px;
  background: url(img/photo/IMG_8668.JPG) 100% /210px no-repeat;
  margin-top: 30px;
}

.hello_content,
.contact_details_content {
  margin-top: 25px;
}

.hello_content {
  width: 230px;
}
.contact_details_content h2 + p.purple {
  margin-top: 10px;
}
.contact_details_content p {
  margin: 0;
}
.contact_details_content p.purple {
  margin-top: 25px;
}

.send_message_button,
.special_button {
  margin-top: 25px;
  display: block;
  background: #17a2b8;
  width: 230px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.cut1:after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: -20px;
  width: 30px;
  height: 30px;
  z-index: 9;
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png)
    repeat;
  transform: rotate(45deg);
}
.cut2:before {
  content: "";
  position: absolute;
  top: -19px;
  right: -20px;
  width: 30px;
  height: 30px;
  z-index: 9;
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png)
    repeat;
  transform: rotate(45deg);
}
.content {
  text-align: center;
  color: #04080b;
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 2;
  font: 18px "Lato", Arial, sans-serif;
  margin: 0;
  padding: 16px 0 0;
  top: -4px;
  bottom: 10px;
  border-top: 1px solid #403f44;
}
.send_message_button:hover,
.special_button:hover {
  background: #63d7e9;
}

.get_social_content {
  margin-top: 15px;
}
.get_social_content h2 {
  margin-bottom: 8px;
}
.social_icons {
  margin-left: -8px;
}
.social_icons a {
  font-size: 35px;
  text-decoration: none;
  color: #000507;
  padding: 0;
  padding: 0 5px;
}
.social_icons a span.invisible {
  display: none;
}
.social_icons .facebook:hover {
  background: #3b5998;
  color: #dfe3ee;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.social_icons .twitter:hover {
  background: #00b0ed;
  color: #fff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.social_icons .linkedin:hover {
  background: #007bb6;
  color: #fff;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.footer_name {
  font-style: italic;
  margin-top: 20px;
}

/* Profile Content */

.profile_quote {
  position: relative;
  /* margin-left: 5px; */
}
.profile_quote p {
  font-size: 17px;
  width: 455px;
}
.profile_quote .entypo-quote {
  color: #3d3a41;
  font-size: 80px;
  font-style: normal;
  position: absolute;
  top: -20px;
  right: 70px;
  cursor: default;
}
